node_modules
dist

.env
.env.staging

.DS_Store

debug

ffmpeg-worker/lambda-autoscaler/package
*.tar.gz

# App build artifacts
app/node_modules
app/dist
app/.env
app/.env.staging
app/tsconfig.tsbuildinfo
