<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Popup.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
				<key>dateExpires</key>
				<string>23/04/2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiEchoCancellationExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiEchoCancellationLLExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAiNoiseSuppressionLLExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAudioBeautyExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraClearVisionExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraContentInspectExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraFaceCaptureExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraFaceDetectionExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraLipSyncExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraReplayKitExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSpatialAudioExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoAv1EncoderExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoEncoderExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoQualityAnalyzerExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraVideoSegmentationExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>aosl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.3.82</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_dec.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.3.60</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2001B2049992061BC0ADC5FFE0F76E67CFCA4193</string>
						<key>dateExpires</key>
						<string>23/04/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_enc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B47WS6EB59</string>
						<key>name</key>
						<string>FREDERIC KHUU THANH MAMATH</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B47WS6EB59.fr.mamath.popup</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.fr.mamath.popup</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>B47WS6EB59</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Popup.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>586ee7b6-6079-4ddb-8808-46fec0ab3eca</string>
				<key>dateExpires</key>
				<string>23/04/2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: fr.mamath.popup</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B47WS6EB59</string>
				<key>name</key>
				<string>FREDERIC KHUU THANH MAMATH</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
